.validation {
    color: red;
    margin: -12px -82px -10px;
}
.validation-summary-errors {
    color: red;
    margin: -12px -82px -10px;
}
.error {
    margin: 0px 0px 0px;
}

.success {
    color: green;
    font-size: large;
}

.tt-suggestion {
    font-size: 12px;
    line-height: 32px;
}

    .tt-suggestion.tt-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }

.gist {
    font-size: 10px;
}

.tt-dropdown-menu {
    background-color: #e5edf5;
}

.twitter-typeahead {
    width: 100%;
}

.navbar-text {
    font-size: 24px;
}

.tt-dropdown-menu {
    width: 100%;
}

.tt-hint {
    width: 100%;
}


.loadingImage {
    width: 20px;
    height: 20px;
}
